Singleton.WebApp/Connected Services/ServiceReference1/HgsWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="hgsEkle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="hgsNo" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="tc" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="isim" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="soyisim" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="plaka" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="hgsEkleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="hgsEkleResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="hgsSorgula">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HgsID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="hgsSorgulaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hgsSorgulaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="hgsSatis">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="hgsBakiye" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="HgsID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="tutar" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="hgsSatisResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hgsSatisResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="hgsEkleSoapIn">
    <wsdl:part name="parameters" element="tns:hgsEkle" />
  </wsdl:message>
  <wsdl:message name="hgsEkleSoapOut">
    <wsdl:part name="parameters" element="tns:hgsEkleResponse" />
  </wsdl:message>
  <wsdl:message name="hgsSorgulaSoapIn">
    <wsdl:part name="parameters" element="tns:hgsSorgula" />
  </wsdl:message>
  <wsdl:message name="hgsSorgulaSoapOut">
    <wsdl:part name="parameters" element="tns:hgsSorgulaResponse" />
  </wsdl:message>
  <wsdl:message name="hgsSatisSoapIn">
    <wsdl:part name="parameters" element="tns:hgsSatis" />
  </wsdl:message>
  <wsdl:message name="hgsSatisSoapOut">
    <wsdl:part name="parameters" element="tns:hgsSatisResponse" />
  </wsdl:message>
  <wsdl:portType name="HgsWebServiceSoap">
    <wsdl:operation name="hgsEkle">
      <wsdl:input message="tns:hgsEkleSoapIn" />
      <wsdl:output message="tns:hgsEkleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="hgsSorgula">
      <wsdl:input message="tns:hgsSorgulaSoapIn" />
      <wsdl:output message="tns:hgsSorgulaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="hgsSatis">
      <wsdl:input message="tns:hgsSatisSoapIn" />
      <wsdl:output message="tns:hgsSatisSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HgsWebServiceSoap" type="tns:HgsWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="hgsEkle">
      <soap:operation soapAction="http://tempuri.org/hgsEkle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hgsSorgula">
      <soap:operation soapAction="http://tempuri.org/hgsSorgula" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hgsSatis">
      <soap:operation soapAction="http://tempuri.org/hgsSatis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HgsWebServiceSoap12" type="tns:HgsWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="hgsEkle">
      <soap12:operation soapAction="http://tempuri.org/hgsEkle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hgsSorgula">
      <soap12:operation soapAction="http://tempuri.org/hgsSorgula" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hgsSatis">
      <soap12:operation soapAction="http://tempuri.org/hgsSatis" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HgsWebService">
    <wsdl:port name="HgsWebServiceSoap" binding="tns:HgsWebServiceSoap">
      <soap:address location="http://localhost:51126/HgsWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="HgsWebServiceSoap12" binding="tns:HgsWebServiceSoap12">
      <soap12:address location="http://localhost:51126/HgsWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>